<div class="container">
  <h2 class="main-title">Star Wars <span class="sub-title">Encyclopedia</span>
  </h2>
  <hr>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-user"></span> People
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="#" class="tab-pane fade in active">
      <div class="star-wars-people-list container">
        <div class="row">
          <nav class="search-field">
            <input
                class="form-control" type="text" name="search"
                placeholder="Start typing for search..."
                (keyup)="searchTerm$.next($event.target.value)">
          </nav>
          <div class="loader-container" *ngIf="loading">
            <div class="loader"></div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Created at</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of data |
                    paginate: { itemsPerPage: 10,
                                currentPage: page,
                                totalItems: count }">
                <td>{{person.name}}</td>
                <td [ngClass]="[person.gender]">
                  {{person.gender == 'n/a' ? 'Not avalible' : person.gender}}
                </td>
                <td>{{person.created | date:'dd/MM/yyyy hh:mm:ss a'}}</td>
              </tr>
            </tbody>
          </table>
          <div class="container">
            <pagination-controls
                (pageChange)="newPage$.next($event)"
                class="blue-pagination"
                previousLabel=""
                nextLabel="">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
