.star-wars-people-list .male {
  color: #005cc5;
}
.star-wars-people-list .female {
  color: red;
}
.search-field {
  margin: 20px 0;
}
.main-title {
  color: #555;
}
.sub-title {
  font-size: 18px;
  color: #ccc;
}

/*pagination*/
.blue-pagination /deep/ .ngx-pagination {
  margin: 0 auto 1rem;
  padding: 0;
  width: 165px;
}
.blue-pagination /deep/ .ngx-pagination a {
  color: #005cc5;
}


/*loader styles*/
.loader-container {
	width: 100%;
  text-align: center;margin-top: 30%;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
